/* Animaciones */
@keyframes Slide-in-right {
  from {
    transform: translateX(4000px); }
  to {
    transform: translateX(0); } }

.Slide-in-right {
  animation: Slide-in-right 1s ease-out 0s 1 normal backwards; }

/* Tipografias */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* Imagenes de fondo */
.navbar-toggler-icon {
  background-image: url(../imagenes/nav-toggler-icon.png) !important; }

main {
  background-image: url(../imagenes/backgroundimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

#dinos {
  background-image: url(../imagenes/dinos.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 250px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    #dinos {
      background-image: url(../imagenes/dinosimg.jpg);
      height: 200px;
      max-width: 100%;
      margin: 0; } }

#cuevas {
  background-image: url(../imagenes/cuevas.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 250px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    #cuevas {
      background-image: url(../imagenes/arkcave.png);
      height: 200px;
      max-width: 100%;
      margin: 0; } }

#explorernotes {
  background-image: url(../imagenes/notasdelexplorador.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 250px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    #explorernotes {
      background-image: url(../imagenes/explorernote.png);
      height: 200px;
      max-width: 100%;
      margin: 0; } }

#mapas {
  background-image: url(../imagenes/mapas.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 250px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    #mapas {
      background-image: url(../imagenes/arkmaps.png);
      height: 200px;
      max-width: 100%;
      margin: 0; } }

.the-island {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/TheIslandportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .the-island p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

.scorched-earth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/ScorchedEarthportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .scorched-earth p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

.aberration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Aberrationportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .aberration p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

.extinction {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Extinctionportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .extinction p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

.valguero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Valgueroportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .valguero p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

.ragnarok {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Ragnarokportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .ragnarok p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

.crystal-isles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/CrystalIslesportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .crystal-isles p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

.the-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/TheCenterportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .the-center p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

.genesis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Genesisportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .genesis p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

.fjordur {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Fjordurportada.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: .5em;
  min-height: 150px;
  box-shadow: 5px 5px 5px #012c05c0; }
  .fjordur p {
    font-weight: bold;
    padding: .3em;
    border-radius: 5px;
    background-color: #012c05c0;
    margin: 0px; }

/* Estilizando Tags */
div iframe {
  width: 100%;
  height: 100%; }

a:link {
  color: #2ddf00;
  text-decoration: none; }

a:visited {
  color: #2ddf00;
  text-decoration: none; }

a:focus {
  color: #2ddf00;
  text-decoration: none; }

footer {
  background-color: #024407; }
  footer p {
    font-size: 0.6rem; }
    @media screen and (min-width: 768px) {
      footer p {
        font-size: 1.1rem; } }

section {
  background-color: #012c05c0; }
  section article {
    padding: 1em; }
    section article div ol {
      list-style: none;
      padding: 0px; }
      section article div ol li a {
        font-size: 0.95rem !important; }

/* Estilizando Clases */
.grid-container {
  display: grid;
  justify-content: center;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: .5em;
  margin-bottom: 1em; }

.grid-item p {
  transition-duration: 0.1s; }
  .grid-item p:hover {
    color: #00f8f8;
    background-color: #019696b0;
    padding: 0.5em; }

.carousel {
  height: 200px; }
  @media screen and (min-width: 425px) {
    .carousel {
      height: 270px; } }
  @media screen and (min-width: 768px) {
    .carousel {
      height: 320px; } }
  @media screen and (min-width: 1024px) {
    .carousel {
      height: 400px; } }
  @media screen and (min-width: 1440px) {
    .carousel {
      height: 600px; } }
  @media screen and (min-width: 2560px) {
    .carousel {
      height: 920px; } }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item {
      height: 100%; }
      .carousel .carousel-inner .carousel-item p {
        margin: 0px;
        padding: 5px 0px; }
        .carousel .carousel-inner .carousel-item p a:link {
          color: inherit;
          text-decoration: none; }
      .carousel .carousel-inner .carousel-item img {
        height: 100%;
        text-align: center; }

.color-text {
  color: beige; }

.color-link {
  color: #2ddf00; }

.img-w-fixed {
  width: 100%; }

.md-img-w-fixed {
  width: 60%; }

.text-content {
  background-color: #04a1119d;
  padding: 1rem; }

.h-md-content {
  max-height: 400px; }

.article-div-a {
  font-size: 0.8rem;
  padding: 5px;
  border: #012c05c0 solid 4px;
  background-color: #03530ad5;
  transition-duration: 0.2s; }
  @media screen and (min-width: 768px) {
    .article-div-a {
      padding: 5px;
      border: #001f00 solid 4px;
      background-color: #03530ad5;
      transition-duration: 0.2s; } }

.div-vid {
  width: 70%;
  height: 200px;
  margin: 1rem auto; }
  @media screen and (min-width: 768px) {
    .div-vid {
      height: 250px;
      margin: 1rem auto; } }

.input-text {
  width: 100%; }

/* Colores de fondo */
.bg-green {
  background-color: #04a1119d; }

.bg-darkgreen {
  background-color: #025e09; }

.bg-darkergreen {
  background-color: #024407; }

.bg-superdarkgreen {
  background-color: #012c05c0; }

/* Visibilidad */
.mobile-d-none {
  display: none; }
  @media screen and (min-width: 768px) {
    .mobile-d-none {
      display: block; } }

@media screen and (min-width: 768px) {
  .desktop-d-none {
    display: none; } }

/* Transiciones */
.hover-full:hover {
  color: #00f8f8 !important;
  background-color: #019696b0;
  border-radius: 30px;
  border-color: #00f8f8; }
  @media screen and (min-width: 768px) {
    .hover-full:hover {
      padding: 12px;
      border-radius: 30px;
      border-color: cyan; } }

.hover-simple:hover {
  color: #00f8f8 !important;
  background-color: #019696b0; }
