#carousel1 {
  border: 5px solid #51ffff; }

#carousel2 {
  border: 5px solid #33ffff; }

#carousel3 {
  border: 5px solid #14ffff; }

#carousel4 {
  border: 5px solid #00f5f5; }

#carousel5 {
  border: 5px solid #00d6d6; }

#carousel6 {
  border: 5px solid #00b7b7; }

#carousel7 {
  border: 5px solid #009999; }

#carousel8 {
  border: 5px solid #007a7a; }

#carousel9 {
  border: 5px solid #005c5c; }

#carousel10 {
  border: 5px solid #003d3d; }

#carousel11 {
  border: 5px solid #001e1e; }

#carousel12 {
  border: 5px solid black; }

/* Animaciones */
@keyframes Slide-in-right {
  from {
    transform: translateX(4000px); }
  to {
    transform: translateX(0); } }

.Slide-in-right {
  animation: Slide-in-right 1s ease-out 0s 1 normal backwards; }

/* Tipografias */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* Imagenes de fondo */
.navbar-toggler-icon {
  background-image: url(../imagenes/nav-toggler-icon.png) !important; }

body {
  background-image: url(../imagenes/backgroundimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.back-to-top {
  background-color: #012c05c0;
  display: inline-block;
  position: fixed;
  border-radius: .5em;
  bottom: 3em;
  right: .4em; }
  .back-to-top p {
    margin: 0px;
    padding: .5em; }

#dinos {
  background-image: url(../imagenes/dinosimg.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 100%;
  box-shadow: 5px 5px 5px #012c05c0; }
  @media screen and (min-width: 768px) {
    #dinos {
      height: 200px;
      margin: 0; } }

#cuevas {
  background-image: url(../imagenes/arkcave.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 100%;
  box-shadow: 5px 5px 5px #012c05c0; }
  @media screen and (min-width: 768px) {
    #cuevas {
      height: 200px;
      margin: 0; } }

#explorernotes {
  background-image: url(../imagenes/explorernote.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 100%;
  box-shadow: 5px 5px 5px #012c05c0; }
  @media screen and (min-width: 768px) {
    #explorernotes {
      height: 200px;
      margin: 0; } }

#mapas {
  background-image: url(../imagenes/arkmaps2.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 100%;
  box-shadow: 5px 5px 5px #012c05c0; }
  @media screen and (min-width: 768px) {
    #mapas {
      height: 200px;
      margin: 0; } }

.the-island {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/TheIslandportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .the-island a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .the-island a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.scorched-earth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/ScorchedEarthportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .scorched-earth a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .scorched-earth a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.aberration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Aberrationportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .aberration a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .aberration a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.extinction {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Extinctionportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .extinction a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .extinction a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.valguero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Valgueroportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .valguero a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .valguero a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.ragnarok {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Ragnarokportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .ragnarok a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .ragnarok a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.crystal-isles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/CrystalIslesportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .crystal-isles a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .crystal-isles a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.the-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/TheCenterportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .the-center a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .the-center a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.genesis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Genesisportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .genesis a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .genesis a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.genesis2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Genesis2portada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .genesis2 a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .genesis2 a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.fjordur {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/Fjordurportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .fjordur a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .fjordur a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

.lost-island {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/LostIslandportada.jpg);
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #012c05c0; }
  .lost-island a {
    background-color: #012c05c0;
    border-radius: 5px; }
    .lost-island a p {
      font-weight: bold;
      padding: .3em;
      margin: 0px; }

/* Estilizando Tags */
div iframe {
  width: 100%;
  height: 100%; }

a:link {
  color: #2ddf00;
  text-decoration: none; }

a:visited {
  color: #2ddf00;
  text-decoration: none; }

a:focus {
  color: #2ddf00;
  text-decoration: none; }

footer {
  background-color: #024407; }
  footer p {
    font-size: 0.6rem;
    margin-bottom: 0px; }
    @media screen and (min-width: 768px) {
      footer p {
        font-size: 1.1rem; } }

section {
  background-image: linear-gradient(to right, transparent 0%, #012c05c0 2%, #012c05c0 98%, transparent 100%); }
  section article {
    padding: 1em; }
    section article div ol {
      list-style: none;
      padding: 0px; }
      section article div ol li h3 {
        font-style: italic; }
      section article div ol li a {
        font-size: 0.95rem !important; }
      @media screen and (min-width: 768px) {
        section article div ol li p {
          padding: 1em;
          text-align: justify; } }

/* Estilizando Clases */
.grid-container {
  display: grid;
  justify-content: center;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: .5em;
  margin: 0 auto 1em;
  max-width: 1240px; }
  .grid-container .grid-item a:hover {
    color: #70ffff;
    background-color: #018080b0; }
  .grid-container .grid-item p {
    margin-bottom: 0px;
    transition-duration: 0.1s; }
    .grid-container .grid-item p:hover {
      padding: 0.5em; }

.grid-container-index {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr); }
  @media screen and (min-width: 768px) {
    .grid-container-index {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); } }
  @media screen and (min-width: 1440px) {
    .grid-container-index {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr; } }

.carousel {
  margin: 0 auto 1em;
  box-sizing: border-box;
  height: 150px;
  max-width: 400px; }
  @media screen and (min-width: 425px) {
    .carousel {
      height: 220px; } }
  @media screen and (min-width: 768px) {
    .carousel {
      height: 270px;
      max-width: 500px; } }
  @media screen and (min-width: 1024px) {
    .carousel {
      height: 390px;
      max-width: 600px; } }
  @media screen and (min-width: 1440px) {
    .carousel {
      height: 500px;
      max-width: 800px; } }
  @media screen and (min-width: 2560px) {
    .carousel {
      height: 870px;
      max-width: none; } }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item {
      height: 100%; }
      .carousel .carousel-inner .carousel-item img {
        height: 100%;
        text-align: center; }

.color-text {
  color: beige; }

.color-link {
  color: #2ddf00; }

.img-w-fixed {
  width: 100%; }

.md-img-w-fixed {
  width: 60%; }

.text-content {
  background-color: #04a1119d;
  padding: 1rem; }

.h-md-content {
  max-height: 400px; }

.nav-item {
  font-size: 0.9em; }

.article-div-a {
  font-size: 0.8rem;
  padding: 5px;
  border: #012c05c0 solid 4px;
  background-color: #03530ad5;
  transition-duration: 0.2s; }
  @media screen and (min-width: 768px) {
    .article-div-a {
      padding: 5px;
      border: #001f00 solid 4px;
      background-color: #03530ad5;
      transition-duration: 0.2s; } }

.div-vid {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 1rem auto; }

.input-text {
  width: 100%; }

/* Colores de fondo */
.bg-green {
  background-color: #04a1119d; }

.bg-darkgreen {
  background-color: #025e09; }

.bg-darkergreen {
  background-color: #024407; }

.bg-superdarkgreen {
  background-color: #012c05c0; }

/* Visibilidad */
.mobile-d-none {
  display: none; }
  @media screen and (min-width: 768px) {
    .mobile-d-none {
      display: block; } }

@media screen and (min-width: 768px) {
  .desktop-d-none {
    display: none; } }

/* Transiciones */
.hover-full:hover {
  color: #70ffff !important;
  background-color: #018080b0;
  border-radius: 30px;
  border-color: #70ffff; }
  @media screen and (min-width: 768px) {
    .hover-full:hover {
      padding: 12px;
      border-radius: 30px;
      border-color: cyan; } }

.hover-simple:hover {
  color: #70ffff !important;
  background-color: #018080b0; }
