.bg-green {
    background-color: $green;
}

.bg-darkgreen {
    background-color: $darkgreen;
}

.bg-darkergreen {
    background-color: $darkergreen;
}

.bg-superdarkgreen {
    background-color: $superdarkgreen;
}
