.grid-container {
    display: grid;
    justify-content: center;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5em;
    margin-bottom: 1em;
}

.grid-item {
    p {
        transition-duration: 0.1s;
        &:hover {
            color: $transition-color-l;
            background-color: $transition-color-d;
            padding: 0.5em;
        }
    }
}

.carousel {
        $height: 200px;
        height: $height;
        @media screen and (min-width: 425px){
        height: ($height + 70px);
    }    
    @media screen and (min-width: 768px){
        height: ($height + 120px);
    }    
    @media screen and (min-width: 1024px){
        height: ($height + 200px);
    }    
    @media screen and (min-width: 1440px){
        height: ($height + 400px);
    }    
    @media screen and (min-width: 2560px){
        height: ($height + 720px);
    }    
    .carousel-inner {
        height: 100%;
        .carousel-item {
            height: 100% ;
            p {
                margin: 0px;
                padding: 5px 0px;
                a {
                    &:link {
                        color: inherit;
                        text-decoration: none;
                    }    
                }  
            }   
             
            img {
                height: 100%;
                text-align: center;
            }    
        }    
    }    
}

.color-text {
    color: $c-text;
}

.color-link {
    color:$c-link;
}

.img-w-fixed {
    width: 100%;
}

.md-img-w-fixed {
    width: 60%;
}

.text-content {
    background-color: $green;
    padding: 1rem;
}

.h-md-content {
    max-height: 400px;
}

.article-div-a {
    font-size: 0.8rem;
    padding: 5px;
    border: $superdarkgreen solid 4px;
    background-color: $transparentgreen;
    transition-duration: 0.2s;

    @media screen and (min-width: 768px) {
        padding: 5px;
        border: rgb(0, 31, 0) solid 4px;
        background-color: #03530ad5;
        transition-duration: 0.2s;
    }
}

.div-vid {
    width: 70%;
    height: 200px;
    margin: 1rem auto;

    @media screen and (min-width: 768px) {
        height: 250px;
        margin: 1rem auto;
    }
}

.input-text {
    width: 100%;
}