.grid-container {
    display: grid;
    justify-content: center;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5em;
    margin: 0 auto 1em;
    max-width: 1240px;
    .grid-item {
        a{
            &:hover {
                color: $transition-color-l;
                background-color: $transition-color-d;
            }
        }
        p {
            margin-bottom: 0px;
            transition-duration: 0.1s;
            &:hover {
                padding: 0.5em;
            }
        }
    }
}
.grid-container-index {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    @media screen and (min-width:768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    @media screen and (min-width:1440px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}

.carousel {
    margin: 0 auto 1em;
    box-sizing: border-box;
    $height: 150px;
    height: $height;
    max-width: 400px;
    @media screen and (min-width: 425px){
        height: ($height + 70px);
    }    
    @media screen and (min-width: 768px){
        height: ($height + 120px);
        max-width: 500px;
    }    
    @media screen and (min-width: 1024px){
        height: ($height + 240px);
        max-width: 600px;
    }    
    @media screen and (min-width: 1440px){
        height: ($height + 350px);
        max-width: 800px;
    }    
    @media screen and (min-width: 2560px){
        height: ($height + 720px);
        max-width: none;
    }    
    .carousel-inner {
        height: 100%;
        .carousel-item {
            height: 100% ;
            img {
             height: 100%;
                text-align: center;
            }    
        }    
    }       
}

.color-text {
    color: $c-text;
}

.color-link {
    color:$c-link;
}

.img-w-fixed {
    width: 100%;
}

.md-img-w-fixed {
    width: 60%;
}

.text-content {
    background-color: $green;
    padding: 1rem;
}

.h-md-content {
    max-height: 400px;
}

.nav-item {
    font-size: 0.9em;
}

.article-div-a {
    font-size: 0.8rem;
    padding: 5px;
    border: $superdarkgreen solid 4px;
    background-color: $transparentgreen;
    transition-duration: 0.2s;

    @media screen and (min-width: 768px) {
        padding: 5px;
        border: rgb(0, 31, 0) solid 4px;
        background-color: #03530ad5;
        transition-duration: 0.2s;
    }
}

.div-vid {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 1rem auto;

}

.input-text {
    width: 100%;
}
