@import "../variables/colors";

div {
    iframe {
        width: 100%;
        height: 100%;
    }
}

a {
    &:link {
        @include a-style ();
    }
    &:visited {
        @include a-style ();
    }
    &:focus {
        @include a-style ();
    }
}

form {
    margin: 0 auto;
    border-radius: 10px;

    h2 {
        &:not(:first-child) {
            margin-top: 1em;
        }
    }
    @media screen and (min-width:768px) {
        max-width: 35em;
        padding: 2em;    
    }
    input[type=text] {
        border-radius: 10px;
    }
}

footer {
    background-color:$darkergreen;
    p {
        font-size: 0.6rem;
        margin-bottom: 0px;    
        @media screen and (min-width: 768px) {
            font-size: 1.1rem;
        }
    }
}

section {
    background-image: linear-gradient(to right, transparent 0%, $superdarkgreen 2%, $superdarkgreen 98%, transparent 100%);
    article {
        padding: 1em;
        div {
            ol {
                list-style: none;
                padding: 0px;
                li {
                    h3 {
                        font-style: italic;
                    }
                    a {
                        font-size: 0.95rem !important;
                        

                    }
                    p {
                        @media screen and (min-width:768px) {
                            padding: 1em;      
                            text-align: justify;                     
                        }
                    }
                }
            }
        }
    }
}

