@import "../mixins/mixins";


.navbar-toggler-icon {
    background-image: url(../imagenes/nav-toggler-icon.png) !important;
}

main {
    background-image: url(../imagenes/backgroundimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#dinos {
    @include div-id (url(../imagenes/dinos.png), url(../imagenes/dinosimg.jpg));
}

#cuevas {
    @include div-id (url(../imagenes/cuevas.png), url(../imagenes/arkcave.png));
}

#explorernotes {
    @include div-id (url(../imagenes/notasdelexplorador.png), url(../imagenes/explorernote.png));
}

#mapas {
    @include div-id (url(../imagenes/mapas.png), url(../imagenes/arkmaps.png));
}