$green: #04a1119d;
$darkgreen: #025e09;
$darkergreen: #024407;
$superdarkgreen: #012c05c0;
$transparentgreen: #03530ad5;
$c-text: beige;
$transition-color-l: #00f8f8;
$transition-color-d: #019696b0;
$c-link:  #2ddf00;
