@mixin div-id ($url) {
    $medida: 250px;
    background-image: $url;
    background-size: cover;
    background-position: center;
    height: $medida;
    max-width: 100%;

    @media screen and (min-width: 768px) {
        height: ($medida - 50px);
        margin: 0;
    }
}

@mixin a-style ($a-color:$c-link) {
    color: $a-color;
    text-decoration: none;
}
@mixin box-shadow {
    box-shadow: 5px 5px 5px $superdarkgreen;
}

@mixin grid-item-img ($img-url: url(../imagenes/TheIslandportada.jpg) ) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $img-url;
    background-position: center;
    background-size: cover;
    border-radius: .5em;
    
    a {
        background-color: $superdarkgreen;
        border-radius: 5px;
        
        p {
            font-weight: bold;
            padding: .3em;
            margin: 0px;
        }    
    }
}